<p>
  {{ title}}
</p>
<button class="btn btn-primary" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>

<button class="btn btn-primary" [class.active]="filterBy=='boats'" (click)="filterBy='boats'">Boats</button>
<button class="btn btn-primary" [class.active]="filterBy=='arts'" (click)="filterBy='arts'">Art</button>
<div class="row">
  
  <ul >
    <li *ngFor="let image of (visibleImages | filter:filterBy) " class="col-md-4"  >
      <img src="{{ image.url }}" heigh="250px" width="200px" class="img img-thumbnail">
    </li>
  </ul>
</div>